$font-family-sans-serif: proxima-nova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$h1-font-size: 2.5rem;
$h2-font-size: 1.2rem;

$navbar-padding-y: 30px;
$navbar-light-color: rgba(#000, .8);
$navbar-light-hover-color: rgba(#000, 1);

$navbar-dark-color: rgba(#fff, .75);
$navbar-dark-hover-color: #fff;
