@import "customize";
@import "../node_modules/bootstrap/scss/bootstrap";

//$color-1: #56a7ea;
$color-1: #09203f;

h1 {
    font-weight: 600;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

p, li {
    font-size: 24px;
    font-weight: 200;
}

.nav-and-tile-container {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.container {
//    max-width: 900px !important;
}

.navbar {
    padding-top: 20px;
    
    .navbar-brand {
//        text-transform: uppercase;
//        font-size: 1.4rem;
//        font-weight: 300;
//        letter-spacing: 0.4rem;
//
//        .icon {
//            font-size: 26px;
//            vertical-align: -4px;
//            margin-right: 6px;
//        }
    
        img {
            height: 36px;
            vertical-align: -4px;
        }
    }
    
    .navbar-nav .nav-link {
        font-size: 16px;
    }

    .btn {
        font-size: 16px;
        
        &:hover {
            color: $color-1;
        }
    }
}

.tile {
    padding-top: 40px;
    padding-bottom: 40px;

    &.dark-background {
        h1, h2, p {
            color: $white;
        }
    }
}

.tile-1 {
    padding-top: 40px;
    padding-bottom: 0;
    
    h2 {
        font-size: 24px;
        font-weight: 300;
        margin-top: 0;
    }
    
    img {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.tile-2 {

}

.tile-3 {
    background-color: #f9f9f9;
}
